/* --------------------
bootstrap　grid
-------------------- */
.col-xs-2-4, .col-sm-2-4, .col-md-2-4, .col-lg-2-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-2-4 {
    float: left;
}
.col-xs-2-4 {
    width: 20%;
}
@media (min-width: 768px) {
    .col-sm-2-4 {
        float: left;
    }
    .col-sm-2-4 {
        width: 20%;
    }
}
@media (min-width: 992px) {
    .col-md-2-4 {
        float: left;
    }
    .col-md-2-4 {
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .col-lg-2-4 {
        float: left;
    }
    .col-lg-2-4 {
        width: 20%;
    }
}
/* ---------------------
select样式定制
----------------------*/
select,
select.form-control{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fefefe;
    font-family: inherit;
    font-weight: normal;
    color: #0a0a0a;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    transition: border-color 0.25s ease-in-out;
}
@media screen and (min-width: 0\0) {
    select,
    select.form-control {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==");
    }
}
select:focus,
select.form-control:focus {
    outline: none;
    background-color: #fefefe;
    transition: border-color 0.25s ease-in-out;
}
select:disabled,
select.form-control:disabled {
    background-color: #e6e6e6;
    cursor: not-allowed;
}
select::-ms-expand,
select.form-control::-ms-expand {
    display: none;
}
select[multiple],
select[multiple].form-control {
    height: auto;
    background-image: none;
}

/* ---------------------
public
----------------------*/

.form-group .glyphicon-calendar {
    position: absolute;
    top: 10px;
    right: 25px;
}
.form-group label.error{
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    font-weight: normal;
    color: #a94442;
}
.masklayer{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    text-align: center;
    line-height: 600px;
    color: #000000;
}