/*----------.ui-servicesPanel----------*/

.ui-servicesPanel{
    padding: 15px;
    width: 600px;
}
.ui-servicesPanel .tab-content h6{
    margin-top: 20px;
}
.ui-servicesPanel .tab-content i{
    font-size: 12px;
}