/*----------.ui-dialog----------*/

.ui-dialog .layout-detail{
    padding: 0px;
}



/*----------.ui-notice----------*/

.ui-notice.success .modal-content{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    word-break:break-all;
}
.ui-notice.info .modal-content{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.ui-notice.warning .modal-content{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.ui-notice.danger .modal-content{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.ui-notice .modal-body > span.icon{
    font-size: 22px;
    position: absolute;
    top: 14px;
}
.ui-notice .modal-body > div.message{
    padding-left: 30px;
}

/*----------.ui-paging----------*/

.ui-paging:after,
.ui-paging > ul:after{
    display: table;
    content: " ";
    clear: both;
}
.ui-paging:empty{
    display: none;
}
.ui-paging > ul{
    list-style: none;
    float: right;
    padding-left: 0px;
}
.ui-paging > ul > li{
    float: left;
}
.ui-paging > ul > li{
    float: left;
    margin-left: 10px;
}
.ui-paging > ul > li:first-child{
    line-height: 30px;
}
.ui-paging > ul > li.input-group{
    width: 100px;
}
.ui-paging .form-control,
.ui-paging .input-group-addon,
.ui-paging .btn{
    border-radius: 0px !important;
    border-color: #ebebeb;
}
.ui-paging .page.active{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #ffffff;
}
@media (max-width: 991px) {
    .ui-paging > ul{
        float: none;
    }
}

/*----------.ui-steps----------*/

.ui-steps ol {
    margin: 0 auto;
    padding: 0;
}
.ui-steps ol:after {
    display: table;
    content: " ";
    clear: both;
}
.ui-steps li {
    list-style: none;
    position: relative;
    float: left;
    border: 1px solid #ffffff;
    padding-top: 30px;
    text-align: center;
}
.ui-steps li .step,
.ui-steps li .bar {
    position: absolute;
}
.ui-steps li .step {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: #dddddd;
    font-size: 18px;
    top: 0;
}
.ui-steps li .bar {
    display: inline-block;
    height: 3px;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-radius: 2px;
    background-color: #dddddd;
    left: 0;
    top: 14px;
}
.ui-steps li .title {
    font-size: 15px;
    line-height: 40px;
}
.ui-steps li .remark {
    font-size: 12px;
    color: #999999;
}
.ui-steps li.active .step,
.ui-steps li.active .bar{
    background-color: #019fe8;
}
.ui-steps li.visited .step,
.ui-steps li.visited .bar{
    background-color: #019fe8;
}
.ui-steps li,
.ui-steps li .bar{
    width: 130px;
}
.ui-steps li .step{
    left: 50px;
}

/*----------.ui-form----------*/

.ui-form .form-group .control-span {
    display: block;
    padding-top: 7px;
}
.ui-form .form-group label.error {
    padding-top: 0;
    margin-bottom: 0;
}
.ui-form .form-group .glyphicon-calendar {
    position: absolute;
    top: 10px;
    right: 25px;
}
.ui-form .form-group input[type=file].form-control {
    height: auto;
}
.ui-form .col-md-10.tinymce {
    min-height: 389px;
}
.ui-form .col-md-10.textarea {
    min-height: 95px;
}
.ui-form .col-md-10.tinymce textarea.tinymce {
    height: 300px;
}
.ui-form .form-group .row:not(:first-child){
    margin-top: 15px;
}

/*----------.ui-table----------*/


.ui-table table>thead>tr>th{
    text-align: center;
    vertical-align: top;
    word-break: break-all;
}
.ui-table th:first-of-type {
    min-width: 60px;
}
.ui-table th:last-of-type {
}
.ui-table td {
    text-align: center;
    word-break: break-all;
}
.ui-table td:last-of-type a{
    margin-left: 5px;
}
.ui-table td:last-of-type a:first-child{
    margin-left: 0px;
}

/*----------.ui-listpage----------*/

.ui-listpage {
    padding-bottom: 10px;
}
.ui-listpage .heading {
    background-color: #ecf0f5;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.ui-listpage .heading .title {
    font-size: 18px;
    line-height: 34px;
    color: #1c1c1c;
}
.ui-listpage.pin .heading {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    color: #f6f6f6;
    background-color: rgba(0, 0, 0, 0.3) !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}
.ui-listpage.pin .heading + div {
    margin-top: 77px;
}
.ui-listpage .nav-tabs {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}
.ui-listpage .page-size {
    text-align: right;
    padding: 0 15px;
    margin: 0 0 5px;
    display: none;
}
.ui-listpage .page-size select {
    display: inline-block;
    width: 80px;
}
.ui-listpage .list {
    padding: 15px;
}

/*----------.ui-group----------*/

.ui-group {
    padding-bottom: 100px;
}
.ui-group .heading {
    background-color: #ecf0f5;
    padding: 10px 15px;
}
.ui-group .heading .title {
    font-size: 18px;
    line-height: 34px;
    color: #1c1c1c;
}
.ui-group.pin .heading {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    color: #f6f6f6;
    background-color: rgba(0, 0, 0, 0.3) !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}
.ui-group.pin .heading + div {
    margin-top: 77px;
}
.ui-group .list {
    padding: 15px;
}
.ui-group .list > .item > h5 {
    font-weight: bold;
}
.ui-group .actions {
    padding: 0 30px;
    text-align: right;
}
.ui-group h5+.ui-form{
    border: 1px solid #dddddd;
    padding-top: 15px;
}
.ui-group h5+.ui-cards{
    border: 1px solid #dddddd;
    padding-top: 15px;
}
.ui-group h5+.ui-cards:after{
    display: block;
    content: "";
    clear: both;
}

/*----------.ui-listpage----------*/

.ui-coupons .list{
    margin-top: 20px;
}
.ui-coupons .list:empty{
    margin-top: 0px;
}