<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>C类市场活动</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/widgets.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <div class="layout"></div>
    <script src="/vendors/require/require.config.js"></script>
    <script src="/vendors/require/require.js" data-main="main"></script>
</body>

</html>